@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-family: 'Exo', sans-serif;
}

.font-exo {
    font-family: 'Exo', sans-serif;
}

.font-alegreya {
    font-family: 'Alegreya Sans SC', sans-serif;
}